.idea/
.vscode/
.venv/
.DS_Store
/venv/
__pycache__/
*.db
*.xlsx
*.log
*.csv
*.env
allure-results/
allure/
db_requester/sql_alchemy_client_simple_example.py
db_requester/test_file.py
db_example/
mock/
PydanticExamples/